div id='user-icon'
  svg viewBox='0 0 50 50' data-user='' id='logo-icon'
    defs
      mask id='user-mask' x='0' y='0' width='50' height='50'
        circle class='background' cx='25' cy='25' r='20'
        circle class='user user-head' cx='25' cy='22' r='9'
        circle class='user user-body' cx='25' cy='45' r='17'

    circle class='background' cx='25' cy='25' r='20' mask='url(#user-mask)'
    circle class='outline' cx='25' cy='25' r='20'

  svg viewBox='0 0 50 50' data-user='' id='close-icon'
    line x1='10' y1='10' x2='40' y2='40'
    line x1='10' y1='40' x2='40' y2='10'
