div id="hicham"
  h1 Bonjour Hicham

  p Tu es invité par LE CONCEPTEUR à naviguer librement sur la version bêta du nouveau site "space". Pour continuer, clique sur le bouton où il y marqué "continuer" juste ici -> #{link_to "#{fa_icon 'user-secret'} Continuer".html_safe, paths_path}

  p Merci.
