[data-active-path]
  #user-icon
    transform: translateY(-100%) translateY(3.25em)

    svg#logo-icon
      transform: translateY(0)

  #user-content
    &:before
      opacity: .25

    transform: translateY(-100%) translateY(3.25em)


[data-active-user]
  #user-icon
    transition: transform .75s ease-out

    svg#logo-icon,
    svg#close-icon
      transition: opacity .75s ease-out

  #user-content
    transition: transform .75s ease-out

[data-active-user='on']
  .path.active,
  #player
    opacity: .25

  #user-icon
    transform: translateY(0)

    svg#logo-icon
      .outline
        opacity: 1
        r: 21

      &:hover
        opacity: .65

  #user-content
    transform: translateY(0)

    &:before
      opacity: .75
